<script>

//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 8000);

</script>

<div class="instruct" id="main">

  <p>To <strong>summarise</strong>, you will position your orange bucket to where you think the asteroid will land on the space ring and you will be able to catch it. To move the bucket you will use the <strong style="color:#56D8DB;">LEFT</strong>/<strong style="color:#EA3C13;">RIGHT</strong> ARROW keys.</p>

  <p>Press the <strong style="color:#54DC5E;">SPACEBAR</strong> to confirm the bucket position. </p>

  <p>You will then indicate how confident you are that the asteroid will land in the orange bucket on the confidence scale with the <strong style="color:#56D8DB;">LEFT</strong>/<strong style="color:#EA3C13;">RIGHT</strong> ARROW keys.

  <p>After you have chosen your confidence, press <strong style="color:#54DC5E;">SPACEBAR</strong> again to let the asteroid fly. </p>

  <p>Try to respond as quickly and accurately as possible!</p>

  <p>You will see how many points you've collected along the way.</p>
  <p>Each you catch an asteroid you will <strong style="color:white;">win</strong> points. Each time you miss it, you will <strong style="color:white;">loose</strong> points. 

  <p>Let's do <strong style="color:white;">one practice block of 10 asteroids </strong> to get used to the task. <br>
    After, you will have to <strong style="color:white;">complete a short quiz</strong> relating to task. </p>

  <p>You will need to answer all of the quiz questions correctly to move on in the game - otherwise we will bring you through the instructions and practice again.</p>

  <br>
<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="Next" value="START PRACTICE" />
</div>
</div>
