<script>

//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 8000);

</script>

<div class="instruct" id="main">

  

  <p>To <strong>summarise</strong>, you will position your orange bucket to where you think the asteroid will land on the orbit and you will be able to catch it. To move the bucket you will use the <strong style="color:white;">left/right ARROW</strong> keys.</p>

  <p>Press the <strong style="color:white;">SPACEBAR</strong> to confirm the bucket position. </p>

  <p>You will then indicate how confident you are that the asteroid will land in the orange bucket on the confidence scale with the <strong style="color:white;">left/right ARROW</strong> keys.</p>

  <p>After you have chosen your confidence, press <strong style="color:white;">SPACEBAR</strong> again to let the asteroid fly. </p>

  <p>Try to respond as quickly and accurately as possible.</p>

  <p>On the top right corner of the screen, there will be a counter to show you how many points you've collected along the way.</p>
  <p>Each you catch an asteroid you will <strong style="color:white;">win</strong> points. Each time you miss it, you will <strong style="color:white;">loose</strong> points

  <p>First, you will do <strong style="color:white;">one practice block of 10 asteroids </strong> to get used to the task. <br>
    After, you will have to <strong style="color:white;">complete a short quiz</strong> relating to task. </p>

  <p>You will need to answer all of the quiz questions correctly to move on to the experiment - otherwise we will bring you through the instructions and practice again.</p>

  <br>
<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="Next" value="START PRACTICE" />
</div>
</div>
