  <div class="instruct" id="main">
  <p><strong>Well done! You passed the quiz!</strong></p>

  <p><strong>It is time for the real game now!</p>

  <p>At the end of the game we will tell you how well you did!</p>

  <p>The game should take approximately <strong style="color:white">20 minutes</strong>.</strong></p>
  
  <p><strong>Please make sure that you are:</strong>
    <ul class="instruct" id="main">
      <li>In a quiet place and can give the game your full attention</li>
      <li>The game is the only thing you have open on your laptop.</li>
     </ul>
  <br>
  <p><strong>If you do not pay attention and place the bucket or your confidence answers randomly you will be <strong style="color:white">brought back to the beginning of the game</strong> and have to start all over again!</strong></p>
<br>
  <p><strong>It's not only important to get the bucket position correct but it is also <strong style="color:white">very important</strong> to rate you confidence specifically.</strong></p>

<p><strong>Please respond as <strong style="color:white">quickly</strong> and as <strong style="color:white">accurately</strong> as possible, and try to catch as many asteroids as you can!</strong></p>

</br>
  
<br></br>

<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="Next" value="START" style="background-color: #4CAF50;"/>
</div>
</div>

 



