<img class="astraunot" src="/static/images/astraunot.png" alt="image failed to load">

<script>

//setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 8000);

</script>


<div class="instruct" id="main">

<p>Ooops! You got one or more of the answers wrong.</p>
<p>We will now show you the instructions again.</p>
<p>Read carefully!</p>
<p>You must get the quiz answers correct to proceed to the game.</p>

<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="Next" value="Next" />
</div>


</div>
