  <div class="instruct" id="main">
  <p><strong>Well done! You passed the quiz!</strong></p>

  <p>It is time for the real game now!</p>

  <p>At the end of the game we will tell you how well you did!</p>

  <p>The game should take approximately <strong style="color:white">20 minutes</strong>.</p>
  
  <p>This is a psychology experiment that relies on good data, so please give this your full attention!</p> 
  <p>Please, don't click away from the window in the middle of the experiment (e.g. to check social media), don't press buttons randomly, don't watch TV and don't leave the task idle for long periods of time.</p>

  <p>Thank you in advance for helping us with our research!</p>

  <p>Use the <strong style="color:white">left and right ARROW keys</strong> to choose the bucket and confidence level positions.</p>
  <p>Use the <strong style="color:white">SPACEBAR</strong> keys to confirm the bucket and confidence level positions.</p>
  <p>Do rate your confidence properly and accurately with the rating scale.</p> 
  <p>Please note that if you fail to do so, you will be brought back to the instruction quiz and the task will be reset from the beginning.</p>

  <p>Please respond as <strong style="color:white">quickly</strong> and as <strong style="color:white">accurately</strong> as possible, and try to catch as many asteroids as you can!</p>
  <br></br>

<div id="nextButton" style="visibility: visible;">
<input type="button" class="continue" id="Next" value="START" />
</div>
</div>

